.create-room-container{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 120px 200px;
    background: url(../img/Zinc.jpg);
    flex-direction: column;
    align-items: center;
}
.create-room-container .main{
    width: 60%;
    height: 100%;
    background: #00000030;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    padding: 50px 15%;
    position: relative;
}
.creatRoomTitle{
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
    color: #ffff;
}
.create-room-container .main >button{
    position: absolute;
    right: 0;
    top: 0;
}
.create-room-container .main form{
    width: 100%;
}
.create-room-container .main form input{
    background:#fff0;
    border:1px solid #fff;
    color: #fff;
}
.create-room-container .main form input::placeholder{
    color: #fff;
}
.btn-create-room{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    width: 100%;
    height: 35px;
    background:#fff;
    font-size: 15px;
}