* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error {
  color: red;
  width: 100%;
  margin: 5px 0;
}
.display-none {
  display: none;
}
.flex-direction-row {
  flex-direction: row !important;
}

.symbol {
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Rancho', cursive; */
  margin-left: 30px;
  line-height: 70px;
  color: rgba(58, 164, 235, 0.53);
  font-size: 35px;
  cursor: pointer;
}
.cursor {
  cursor: pointer;
}
.absolute {
  position: absolute;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* .bnt {
    outline: none;
    border-radius: 5px;
    border: 1px solid #000000;
    width: 70px;
    height: 40px;
    background: #6FB6F9;
    cursor: pointer;
} */

/* .bnt {
  border: none;
  background: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  outline: unset;
  transition: 0.5s;
} */

.bnt {
  outline: none;
  width: 150px;
  padding: 10px 30px;
  border: 2px solid #08aeea;
  background: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.7s;
  color: #08aeea;
  margin-top: 10px;
  cursor: pointer;
}
.bnt:hover {
  background: #08aeea;
  color: #fff;
}

.pd-t-2 {
  padding-top: 20px;
}

.mr-t-2 {
  margin-top: 10px;
}

.input-wrapper input {
  border: 1px solid #dbdbdb;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  outline: none;
}

.input-wrapper {
  margin-bottom: 15px;
}

.btn {
  padding: 8px 20px;
  color: #fff;
  background-color: #037bfe;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: #ff0000;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-light {
  cursor: pointer;
  border-radius: 20%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border: none;
  outline: none;
  background: #ffff;
}
.active {
  background: #8f8fe9;
}
.bold {
  font-weight: bold;
}
.chat-button {
  content: " ";
  width: 30px;
  height: 30px;
  background: #1b1daad4;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50px 0px 0px 0px;
  box-shadow: 8px 19px 50px 17px;
}
.chat-button:hover {
  transform: scale(2);
}
.message-box::-webkit-scrollbar {
  display: none;
}
#input-chat-email {
  outline: none;
}
.text-email {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flex {
  display: flex;
}
.info:hover {
  background: #dddddd;
}
.room-bar {
  cursor: pointer;
}
.popup-bnt {
  border: none;
  outline: none;
  background: #fff;
  width: 25px;
  height: 20px;
}
